In [34]:
import pandas as pd
import numpy as np

# Create a list of years to capture

year_list = [2015, 2016, 2017, 2018, 2019]

# Write the path where you want to save your .csv files. Should start with "r'Users/" followed by the file
# location where you wish to save. the files will be saved as turnstile+year.csv, i.e. turnstile2019.csv for 2019

file_location = '//Users/gavin/Documents/Metis/Coursework/Week_1/Project_1/reference_data'

In [ ]:
def turnstile_pull(year, file_location):

    download_dates = pd.date_range(start=str(year)+'-08-01',end=str(year)+'-10-31',freq='W-SAT')
    download_dates = download_dates.astype(str)

    base_url = ("http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt")

    list_of_url = [base_url.format(date[2:4]+date[5:7]+date[8:]) for date in download_dates]

    df = pd.concat((pd.read_csv(url) for url in list_of_url))
    df.to_csv(r''+str(file_location)+'/turnstile'+str(year)+'.csv')
    return print(str(year)+' complete')

for year in year_list:
    turnstile_pull(year, file_location)

2015 complete
2016 complete

In [25]:
def entry_exit_rate(year, file_location):
    mta = pd.read_csv(r''+str(file_location)+'/turnstile'+str(year)+'.csv')
    
    mta['riders_in'] = mta.ENTRIES.diff()
    mta.rename(columns={'EXITS                                                               ':'EXITS'},inplace=True)
    mta['riders_out'] = mta.EXITS.diff()
    mta['match'] = mta.SCP.eq(mta.SCP.shift())
    import numpy as np
    mta.loc[mta.match==False,['riders_in','riders_out']] = np.nan
    mta.to_csv(r''+str(file_location)+'/turnstile'+str(year)+'.csv')
    return print(str(year)+' complete')

for year in year_list:
    entry_exit_rate(year, file_location)

Done
Done
Done
Done
Done

In [27]:
def turn_combine(year_list):
    total_turn = pd.read_csv(r''+str(file_location)+'/turnstile'+str(year_list[0])+'.csv')
    original_shape = total_turn.shape
    print(original_shape)
    total_turn.set_index('DATE', inplace=True)
    print(total_turn.head())
    
    for year in year_list[1:]:
        print(year)
        year_to_add = pd.read_csv(r''+str(file_location)+'/turnstile'+str(year)+'.csv')
        year_to_add.set_index('DATE', inplace=True)
        total_turn=pd.concat([total_turn,year_to_add])
    total_turn.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)    
    total_turn.to_csv(r''+str(file_location)+'/turnstile_total.csv')
    return print(str(original_shape)+' is now '+str(total_turn.shape))

turn_combine(year_list)

(2705296, 16)
            Unnamed: 0  Unnamed: 0.1   C/A  UNIT       SCP        STATION  \
DATE
07/25/2015           0             0  A002  R051  02-00-00  LEXINGTON AVE
07/25/2015           1             1  A002  R051  02-00-00  LEXINGTON AVE
07/25/2015           2             2  A002  R051  02-00-00  LEXINGTON AVE
07/25/2015           3             3  A002  R051  02-00-00  LEXINGTON AVE
07/25/2015           4             4  A002  R051  02-00-00  LEXINGTON AVE

           LINENAME DIVISION      TIME     DESC  ENTRIES    EXITS  riders_in  \
DATE
07/25/2015   NQR456      BMT  00:00:00  REGULAR  5239572  1772534        NaN
07/25/2015   NQR456      BMT  04:00:00  REGULAR  5239606  1772535       34.0
07/25/2015   NQR456      BMT  08:00:00  REGULAR  5239633  1772563       27.0
07/25/2015   NQR456      BMT  12:00:00  REGULAR  5239754  1772660      121.0
07/25/2015   NQR456      BMT  16:00:00  REGULAR  5240012  1772711      258.0

            riders_out  match
DATE
07/25/2015         NaN  False
07/25/2015         1.0   True
07/25/2015        28.0   True
07/25/2015        97.0   True
07/25/2015        51.0   True
2016
2017
2018
2019
(2705296, 16) is now (13039135, 15)

In [31]:
total_turn = pd.read_csv(r''+str(file_location)+'/turnstile_total.csv')
total_turn=total_turn.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
total_turn.to_csv(r''+str(file_location)+'/turnstile_total.csv')

In [32]:
total_turn.head()

,DATE,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,TIME,DESC,ENTRIES,EXITS,riders_in,riders_out,match
0,07/25/2015,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,00:00:00,REGULAR,5239572,1772534,NaN,NaN,False
1,07/25/2015,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04:00:00,REGULAR,5239606,1772535,34.0,1.0,True
2,07/25/2015,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,08:00:00,REGULAR,5239633,1772563,27.0,28.0,True
3,07/25/2015,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12:00:00,REGULAR,5239754,1772660,121.0,97.0,True
4,07/25/2015,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,16:00:00,REGULAR,5240012,1772711,258.0,51.0,True

In [33]:
print(total_turn.DATE.unique())

['07/25/2015' '07/26/2015' '07/27/2015' '07/28/2015' '07/29/2015'
 '07/30/2015' '07/31/2015' '08/01/2015' '08/02/2015' '08/03/2015'
 '08/04/2015' '08/05/2015' '08/06/2015' '08/07/2015' '08/08/2015'
 '08/09/2015' '08/10/2015' '08/11/2015' '08/12/2015' '08/13/2015'
 '08/14/2015' '08/15/2015' '08/16/2015' '08/17/2015' '08/18/2015'
 '08/19/2015' '08/20/2015' '08/21/2015' '08/22/2015' '08/23/2015'
 '08/24/2015' '08/25/2015' '08/26/2015' '08/27/2015' '08/28/2015'
 '08/29/2015' '08/30/2015' '08/31/2015' '09/01/2015' '09/02/2015'
 '09/03/2015' '09/04/2015' '09/05/2015' '09/06/2015' '09/07/2015'
 '09/08/2015' '09/09/2015' '09/10/2015' '09/11/2015' '09/12/2015'
 '09/13/2015' '09/14/2015' '09/15/2015' '09/16/2015' '09/17/2015'
 '09/18/2015' '09/19/2015' '09/20/2015' '09/21/2015' '09/22/2015'
 '09/23/2015' '09/24/2015' '09/25/2015' '09/26/2015' '09/27/2015'
 '09/28/2015' '09/29/2015' '09/30/2015' '10/01/2015' '10/02/2015'
 '10/03/2015' '10/04/2015' '10/05/2015' '10/06/2015' '10/07/2015'
 '10/08/2015' '10/09/2015' '10/10/2015' '10/11/2015' '10/12/2015'
 '10/13/2015' '10/14/2015' '10/15/2015' '10/16/2015' '10/17/2015'
 '10/18/2015' '10/19/2015' '10/20/2015' '10/21/2015' '10/22/2015'
 '10/23/2015' '10/24/2015' '10/25/2015' '10/26/2015' '10/27/2015'
 '10/28/2015' '10/29/2015' '10/30/2015' '07/30/2016' '07/31/2016'
 '08/01/2016' '08/02/2016' '08/03/2016' '08/04/2016' '08/05/2016'
 '08/06/2016' '08/07/2016' '08/08/2016' '08/09/2016' '08/10/2016'
 '08/11/2016' '08/12/2016' '08/13/2016' '08/14/2016' '08/15/2016'
 '08/16/2016' '08/17/2016' '08/18/2016' '08/19/2016' '08/20/2016'
 '08/21/2016' '08/22/2016' '08/23/2016' '08/24/2016' '08/25/2016'
 '08/26/2016' '08/27/2016' '08/28/2016' '08/29/2016' '08/30/2016'
 '08/31/2016' '09/01/2016' '09/02/2016' '09/03/2016' '09/04/2016'
 '09/05/2016' '09/06/2016' '09/07/2016' '09/08/2016' '09/09/2016'
 '09/10/2016' '09/11/2016' '09/12/2016' '09/13/2016' '09/14/2016'
 '09/15/2016' '09/16/2016' '09/17/2016' '09/18/2016' '09/19/2016'
 '09/20/2016' '09/21/2016' '09/22/2016' '09/23/2016' '09/24/2016'
 '09/25/2016' '09/26/2016' '09/27/2016' '09/28/2016' '09/29/2016'
 '09/30/2016' '10/01/2016' '10/02/2016' '10/03/2016' '10/04/2016'
 '10/05/2016' '10/06/2016' '10/07/2016' '10/08/2016' '10/09/2016'
 '10/10/2016' '10/11/2016' '10/12/2016' '10/13/2016' '10/14/2016'
 '10/15/2016' '10/16/2016' '10/17/2016' '10/18/2016' '10/19/2016'
 '10/20/2016' '10/21/2016' '10/22/2016' '10/23/2016' '10/24/2016'
 '10/25/2016' '10/26/2016' '10/27/2016' '10/28/2016' '07/29/2017'
 '07/30/2017' '07/31/2017' '08/01/2017' '08/02/2017' '08/03/2017'
 '08/04/2017' '08/05/2017' '08/06/2017' '08/07/2017' '08/08/2017'
 '08/09/2017' '08/10/2017' '08/11/2017' '08/12/2017' '08/13/2017'
 '08/14/2017' '08/15/2017' '08/16/2017' '08/17/2017' '08/18/2017'
 '08/19/2017' '08/20/2017' '08/21/2017' '08/22/2017' '08/23/2017'
 '08/24/2017' '08/25/2017' '08/26/2017' '08/27/2017' '08/28/2017'
 '08/29/2017' '08/30/2017' '08/31/2017' '09/01/2017' '09/02/2017'
 '09/03/2017' '09/04/2017' '09/05/2017' '09/06/2017' '09/07/2017'
 '09/08/2017' '09/09/2017' '09/10/2017' '09/11/2017' '09/12/2017'
 '09/13/2017' '09/14/2017' '09/15/2017' '09/16/2017' '09/17/2017'
 '09/18/2017' '09/19/2017' '09/20/2017' '09/21/2017' '09/22/2017'
 '09/23/2017' '09/24/2017' '09/25/2017' '09/26/2017' '09/27/2017'
 '09/28/2017' '09/29/2017' '09/30/2017' '10/01/2017' '10/02/2017'
 '10/03/2017' '10/04/2017' '10/05/2017' '10/06/2017' '10/07/2017'
 '10/08/2017' '10/09/2017' '10/10/2017' '10/11/2017' '10/12/2017'
 '10/13/2017' '10/14/2017' '10/15/2017' '10/16/2017' '10/17/2017'
 '10/18/2017' '10/19/2017' '10/20/2017' '10/21/2017' '10/22/2017'
 '10/23/2017' '10/24/2017' '10/25/2017' '10/26/2017' '10/27/2017'
 '07/28/2018' '07/29/2018' '07/30/2018' '07/31/2018' '08/01/2018'
 '08/02/2018' '08/03/2018' '08/04/2018' '08/05/2018' '08/06/2018'
 '08/07/2018' '08/08/2018' '08/09/2018' '08/10/2018' '08/11/2018'
 '08/12/2018' '08/13/2018' '08/14/2018' '08/15/2018' '08/16/2018'
 '08/17/2018' '08/18/2018' '08/19/2018' '08/20/2018' '08/21/2018'
 '08/22/2018' '08/23/2018' '08/24/2018' '08/25/2018' '08/26/2018'
 '08/27/2018' '08/28/2018' '08/29/2018' '08/30/2018' '08/31/2018'
 '09/01/2018' '09/02/2018' '09/03/2018' '09/04/2018' '09/05/2018'
 '09/06/2018' '09/07/2018' '09/08/2018' '09/09/2018' '09/10/2018'
 '09/11/2018' '09/12/2018' '09/13/2018' '09/14/2018' '09/15/2018'
 '09/16/2018' '09/17/2018' '09/18/2018' '09/19/2018' '09/20/2018'
 '09/21/2018' '09/22/2018' '09/23/2018' '09/24/2018' '09/25/2018'
 '09/26/2018' '09/27/2018' '09/28/2018' '09/29/2018' '09/30/2018'
 '10/01/2018' '10/02/2018' '10/03/2018' '10/04/2018' '10/05/2018'
 '10/06/2018' '10/07/2018' '10/08/2018' '10/09/2018' '10/10/2018'
 '10/11/2018' '10/12/2018' '10/13/2018' '10/14/2018' '10/15/2018'
 '10/16/2018' '10/17/2018' '10/18/2018' '10/19/2018' '10/20/2018'
 '10/21/2018' '10/22/2018' '10/23/2018' '10/24/2018' '10/25/2018'
 '10/26/2018' '07/27/2019' '07/28/2019' '07/29/2019' '07/30/2019'
 '07/31/2019' '08/01/2019' '08/02/2019' '08/03/2019' '08/04/2019'
 '08/05/2019' '08/06/2019' '08/07/2019' '08/08/2019' '08/09/2019'
 '08/10/2019' '08/11/2019' '08/12/2019' '08/13/2019' '08/14/2019'
 '08/15/2019' '08/16/2019' '08/17/2019' '08/18/2019' '08/19/2019'
 '08/20/2019' '08/21/2019' '08/22/2019' '08/23/2019' '08/24/2019'
 '08/25/2019' '08/26/2019' '08/27/2019' '08/28/2019' '08/29/2019'
 '08/30/2019' '08/31/2019' '09/01/2019' '09/02/2019' '09/03/2019'
 '09/04/2019' '09/05/2019' '09/06/2019' '09/07/2019' '09/08/2019'
 '09/09/2019' '09/10/2019' '09/11/2019' '09/12/2019' '09/13/2019'
 '09/14/2019' '09/15/2019' '09/16/2019' '09/17/2019' '09/18/2019'
 '09/19/2019' '09/20/2019' '09/21/2019' '09/22/2019' '09/23/2019'
 '09/24/2019' '09/25/2019' '09/26/2019' '09/27/2019' '09/28/2019'
 '09/29/2019' '09/30/2019' '10/01/2019' '10/02/2019' '10/03/2019'
 '10/04/2019' '10/05/2019' '10/06/2019' '10/07/2019' '10/08/2019'
 '10/09/2019' '10/10/2019' '10/11/2019' '10/12/2019' '10/13/2019'
 '10/14/2019' '10/15/2019' '10/16/2019' '10/17/2019' '10/18/2019'
 '10/19/2019' '10/20/2019' '10/21/2019' '10/22/2019' '10/23/2019'
 '10/24/2019' '10/25/2019']